$firstColor: #2027e2;
$secondColor: #101828;
$thirdColor: #97b7ff;
$fourthColor: #475467;
$fifthColor: #ebf3ff;
$sixthColor: #fef7c3;
$seventhColor: #1d2939;
$successColor: #027a48;
$eighthColor: #ecfdf3;
$orangeColor: #ff6006;
$ninethColor: #ffebd4;
$redColor: #b42318;
$tenthColor: #fef3f2;
$yellowColor: #b54708;
$elevenColor: #fffaeb;
$blueColor: #026aa2;
$tweleveColor: #f0f9ff;
$greyColor: #344054;
$thirthColor: #f2f4f7;
$white: #fff;
$fontEn: Montserrat;
